       <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请输入测试数据</title>
</head>
<body>
<!--<button type="button" id="btn"> 显示数据 </button>-->

    <p>
        <label>请输入要查询的数据：</label><input type="text" name="name" >
        <input type="button" id="btn" onclick="" value="查询">
    </p>
<p><label>对应的数据是：</label><span id="show_span"></span></p>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    //$('#btn').on('click',function () {
        //alert(1)
   // });
     //$('#btn').bind('click',function () {
        //alert(1)
    //});
    //使用Ajax请求
    $('#btn').on('click',function () {
        {#alert(1)#}
        $.ajax({
            'type':'POST', //请求类型
            {#'url' :'{% url 'recom:ajax_params' %}',//请求类型#}
            'url':'http://127.0.0.1:8000/ajax_params/',
            'data':{
                'name':'关于购买“全市开发区干部能力提升培训”服务的结果公告',

            },
            'datatype':'json', //返回数据类型
            'success':function (result){
                console.log(result);
            },
            'error':function (result){
                $('#show_span').html('无')
            }


        })
    });
    </script>
</body>
</html>