{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>推荐系统</title>
    <link href="https://www.w3school.com.cn/lib/bs/bootstrap.css" rel="stylesheet">
    {#                <link rel="stylesheet" href="{% static 'css/style.css' %}" >#}
    {#                <link rel="stylesheet" href="{% static 'css/bootstrap5152.css' %}" type="text/css">#}
    <link rel='stylesheet' id='responsive-css-css' href="{% static 'css/responsive5152.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='{% static 'css/main5152.css' %}' type='text/css' media='all' />
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-top" style="width: 100%">
    <div class="container-fluid" style="font-family: 宋体,serif;font-size: larger; ">
        <a class="navbar-brand " href="#">
            <img src="{% static 'img/logo.png' %}" style="width:35px" class="rounded-pill">
            &emsp;<a style="color: black;margin-left: -25px">TechTech</a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: black;margin-left: 10px" href="#">搜索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" href="#">政策</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" href="#">公司</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block index %}{% endblock %}
</body>
