{% extends 'muban.html' %}
{%load static %}
{% block index %}
    <div class="row" style="margin-top: 100px">
        <div class="col-3">
            <div class="Organization" style="margin-top: 0;margin-left: 40px">
                <div class="card" >
                    <div class="card-header" style="background: #146c43;color: white">
                        组织架构
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-left: 0">
                            <div class='col-12'>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{% static 'img/头像-01.png' %}" alt="头像" style="width: 50px;margin-left: 20px" >
                                            </div>
                                            <div class="col-9">
                                                <div class="card-text" style="margin-left: 10px">
                                                    名字<br>职位
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-left: 0">
                            <div class='col-12'>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{% static 'img/头像-01.png' %}" alt="头像" style="width: 50px;margin-left: 20px" >
                                            </div>
                                            <div class="col-9">
                                                <div class="card-text" style="margin-left: 10px">
                                                    名字<br>职位
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-left: 0">
                            <div class='col-12'>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{% static 'img/头像-01.png' %}" alt="头像" style="width: 50px;margin-left: 20px" >
                                            </div>
                                            <div class="col-9">
                                                <div class="card-text" style="margin-left: 10px">
                                                    名字<br>职位
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-left: 0">
                            <div class='col-12'>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="{% static 'img/头像-01.png' %}" alt="头像" style="width: 50px;margin-left: 20px" >
                                            </div>
                                            <div class="col-9">
                                                <div class="card-text" style="margin-left: 10px">
                                                    名字<br>职位
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Organization" style="margin-top: 0;margin-left: 40px">
                <div class="card" style="margin-top: 30px">
                    <div class="card-header" style="background: #146c43;color: white">
                        收入年报
                    </div>
                    <div class="card-body" >
                        <img src="{% static 'img/政策图谱测试1.jpg' %}" alt="年报" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card w-100">
                <div class="card-header" style="background: #0d6efd;color: white" >
                    基本信息
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img class="card-img-top" style="margin-top: 30px; margin-left: 10px" src="{% static 'img/文件.png' %}" alt="文件">
                            <p style="margin-left: 30px">浏览量：999+</p>
                        </div>
                        <div class="col-10">
                            <h3>公司名字</h3>
                            <div class="card w-100" style="margin-top: 10px">
                                <div class="card-body" style="background: rgba(71,197,255,0.05) ">
                                    <div class="row">
                                        <div class="col-12" style="margin-left: 20px">
                                            <div class="row" >
                                                <div class='col-6' >
                                                    <table border="0" cellpadding="10" style="margin-left: 20px">
                                                <tr>
                                                    <td>法人: 马海英</td>
                                                </tr>
                                                <tr>
                                                    <td>邮箱：a****n@55isp.com</td>
                                                </tr>
                                                <tr>
                                                    <td>行业类型: 软件和信息技术服务业</td>
                                                </tr>
                                            </table>
                                                </div>
                                                <div class="col-6" >
                                                    <table border="0" cellpadding="10">
                                                <tr>
                                                    <td>电话：马海英</td>
                                                </tr>
                                                <tr>
                                                    <td>网址：a****n@55isp.com</td>
                                                </tr>
                                                <tr>
                                                    <td>地址：大同市平城区善化寺仿古商业街东11号</td>
                                                </tr>
                                            </table>
                                                </div>

                                            </div>
                                        </div>

                                    <div class="row" style="margin-right: 10px" >
                                        <div class="col-12" style="margin-left: 43px">
                                            <table border="0" cellpadding="5">
                                                <tr>
                                                    <td>简介：大同市智网科技有限公司成立于2014-07-23，法定代表人为马海英，注册资本为100万元人民币，统一社会信用代码为911402003966964294，企业地址位于大同市平城区善化寺仿古商业街东11号，所属行业为软件和信息技术服务业，经营范围包含：销售电线电缆、安防监控设备、蓄电池、音响及广播器材、照像器材、建筑装饰材料、五金交电、水暖配件、工矿配件、家用电器、钢材、化妆品、室内装饰装修、图文设计制作、会议展览展示服务、计算机硬件及耗材、网络设备、电子产品（不含电子出版物）、日用品（不含食盐）、办公用品及设备；计算机及网络维护维修；计算机系统集成；计算机软件开发、销售；安全技术防范系统：设计、安装、监理、运营（凭此证办理有效资质证后方可经营）；信息咨询（不含中介）；企业形象策划；设计、制作、发布广告（依法须经批准的项目，经相关部门批准后方可开展经营活动）。大同市智网科技有限公司目前的经营状态为存续（在营、开业、在册）。</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="policy-map" style="margin-top: 30px">
                <div class="card">
                    <div class="card-header" style="background: navy;color: white">政策图谱</div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row" style="margin-left: 10px">
                                <div class="col-3">
                                    <img src="{% static 'img/2.png' %}" alt="图谱" style="width: 200px">
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'img/1.png' %}" alt="图谱" style="width: 200px">
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'img/1.png' %}" alt="图谱" style="width: 200px">
                                </div>
                                <div class="col-3">
                                    <img src="{% static 'img/1.png' %}" alt="图谱" style="width: 200px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="referral-policy" style="margin-top: 30px">
                 <div class="card">
                     <div class="card-header" style="background: #0dcaf0;color: white">
                         政策推荐
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                             <div class="card">
                                 <div class="card-body" style="border: none">
                                     <div class="card-title" style="margin-left: 20px">
                                         <span><strong>关于征集企业技术需求开展与上海专家对接活动的通知</strong></span>
                                     </div>
                                     <div class="card-body">
                                         <span>各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会
                                             精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素
                                             向企业集聚，推动我市民</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

            </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body" >
                <p align="center">
                    <img src="{% static 'img/客服.png' %}" alt="客服" width="">
                </p>
                <p align="center">想了解更多信息<br>请联系我们</p>
                <p align="center">
                    <button type="button" class="btn btn-success">联系我们</button>
                </p>

            </div>
        </div>
    </div>
    </div>
{% endblock %}