{% extends 'muban.html' %}
{% load static %}
{% block index %}
    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <div  style="margin-top: 65px;">
    <section style="background: url({% static 'img/search_1.png' %});width: 100%;margin-left: 0">
        <div style="width: 100%; height: 300px;">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <h1 style="margin-top: 80px; color: white; font-family: 黑体,serif; text-align: center"><strong>面向科技企业的可解释推荐</strong></h1>
                    <div style="position: relative;background-color: #fff;margin-top: 20px" class="rounded-pill">
                        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;请输入关键词" style="width: 93%;height: 50px;border: none;outline: none" class="rounded-pill">
                        <button style="position: absolute;border: none;outline: none;right: 8px;background:none;top: 7px" >
                            <img src="{% static 'img/搜索.png' %}" style="width: 30px;margin-top: 2px;"  alt="搜搜图标">
                        </button>
                    </div>
                    <div style="margin-top: 20px;color: white">
                        <span style="color: white; margin-left: 20px"><strong>关键词:</strong></span>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;科技</strong></a>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;人文</strong></a>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;社科</strong></a>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;生物</strong></a>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;化学</strong></a>
                        <a href="#" style="color: white;text-decoration: none"><strong>&nbsp;电子信息</strong></a>
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row" >
            <div class="col-1"></div>
                <div class="col-7" style="margin-top: 50px;margin-left: 30px">
                <div>
                    <a href="#" style="text-decoration:none; color: black;margin-right: 20px"><strong>热门政策</strong></a>
                    <a href="#" style="text-decoration:none; color: black;margin-right: 20px" onclick="f2()"><strong>热门企业</strong></a>
                    <a href="#" style="text-decoration:none; color: black;margin-right: 20px" onclick="f3()"><strong>最新政策</strong></a>
                    <a href="#" style="text-decoration:none; color: black;margin-right: 20px" onclick="f4()"><strong>最新企业</strong></a>
                </div>
                <div id="feng">
                    <div class="shadow ">
                    <div class="card" style="margin-top: 30px" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2" style="margin-left: 13px ">
                                <img class="card-img-top" style="margin-top: 50px" src="{% static 'img/企业.png' %}" alt="企业">
                            </div>
                            <div class="col-9">
                                <a class="card-title" href="http://baidu.com" style="font-size: x-large; color: black;text-decoration:none"><strong>关于征集企业技术需求开展与上海专家对接活动的通知<br/></strong></a>
                                <a  >晋城市中小企业发展促进中心<br/><br/></a>
                                <p class="card-text">各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素向企业集聚，推动我市民<br/><br/></p>
                            </div>
                            <div class="col-1"></div>

                        </div>
                    </div>
                </div>
                </div>
                    <div class="shadow ">
                    <div class="card" style="margin-top: 30px" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2" style="margin-left: 13px">
                                <img class="card-img-top" style="margin-top: 30px" src="{% static 'img/文件.png' %}" alt="文件">
                            </div>
                            <div class="col-9">
                                <a class="card-title" href="http://baidu.com" style="font-size: x-large; color: black;text-decoration:none">
                                    <strong>
                                        关于征集企业技术需求开展与上海专家对接活动的通知<br/>
                                    </strong>
                                </a>
                                <a >晋城市中小企业发展促进中心<br/><br/></a>
                                <p class="card-text">各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展
                                    推进会精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素向企业
                                    集聚，推动我市民<br/><br/></p>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        var a;
        var s = "晋城市中小企业发展促进中心";
        var s1='各县（市、区）、开发区中小企业主管部门，各相关企业： 为贯彻落实全市民营经济发展推进会精神，着力打造民营企业创新生态小气候，切实帮助企业解决生产研发过程中的技术难题，引导创新要素向企业集聚，推动我市民';
        var s2 = '关于征集企业技术需求开展与上海专家对接活动的通知';
        //用于在ajax更新后
        {#function fuzhi(s){#}
        {#    $('#feng').empty();#}
        {#    for (var i=1;i<11;i++){#}
        {#        a='<div class="shadow">';#}
        {#        a += '<div class="card" style="margin-top: 30px" >';#}
        {#        a += '<div class="card-body">';#}
        {#        a+='<div class="row">';#}
        {#        a+='<div class="col-2" style="margin-left: 13px">';#}
        {#        a+=' <img class="card-img-top" style="margin-top: 30px" src="{% static 'img/文件.png' %}" alt="文件">';#}
        {#        a+='</div>';#}
        {#        a+='<div class="col-9">';#}
        {#        a+='<a class="card-title" href="http://baidu.com" style="font-size: x-large; color: black;text-decoration:none"><strong>'+s2+'<br/></strong></a>';#}
        {#        a+='<a>'+s+'<br/><br/></a>';#}
        {#        a+='<p class="card-text">'+s1+'<br/><br/></p>';#}
        {#        a+='</div>';#}
        {#        a+='<div class="col-1"></div>';#}
        {#        a+='</div>';#}
        {#        a+='</div>';#}
        {#        a+='</div>';#}
        {#        a+='</div>';#}
        {#        $("#feng").append(a);#}
        {#    }#}
        {#}#}
        {#window.onload = function (){#}
        {#    $.ajax({#}
        {#        'type':'POST',#}
        {#        'url':{% url %},#}
        {#        'data':{#}
        {#            title:'热门政策'#}
        {#        },#}
        {#        'dataType':'json',#}
        {#        'success':function (data){#}
        {#            console.log(data);#}
                    {#把接收到的json数组存储在变量中在以下循环中使用#}
        {#            fuzhi(data);#}
        {#        }#}
        {#    })#}
        {#}#}
        {#function f2(){#}
        {#      $.ajax({#}
        {#        'type':'POST',#}
        {#        'url':'',#}
        {#        'data':{#}
        {#            title:'热门企业'#}
        {#        },#}
        {#        'dataType':'json',#}
        {#        'success':function (data){#}
        {#            console.log(data);#}
                    {#把接收到的json数组存储在变量中在以下循环中使用#}
        {#            fuzhi(data);#}
        {#        }#}
        {#    })#}
        {#}#}
        {#function f3(){#}
        {#      $.ajax({#}
        {#        'type':'POST',#}
        {#        'url':'',#}
        {#        'data':{#}
        {#            title:'最新政策'#}
        {#        },#}
        {#        'dataType':'json',#}
        {#        'success':function (data){#}
        {#            console.log(data);#}
                    {#把接收到的json数组存储在变量中在以下循环中使用#}
        {#            fuzhi(data);#}
        {#        }#}
        {#    })#}
        {#}#}
        {#function f4(){#}
        {#      $.ajax({#}
        {#        'type':'POST',#}
        {#        'url':'',#}
        {#        'data':{#}
        {#            title:'最新企业'#}
        {#        },#}
        {#        'dataType':'json',#}
        {#        'success':function (data){#}
        {#            console.log(data);#}
                    {#把接收到的json数组存储在变量中在以下循环中使用#}
        {#            fuzhi(data);#}
        {#        }#}
        {#    })#}
        {#}#}
        for (var i=1;i<11;i++){
            a='<div class="shadow">';
            a += '<div class="card" style="margin-top: 30px" >';
            a += '<div class="card-body">';
            a+='<div class="row">';
            a+='<div class="col-2" style="margin-left: 13px">';
            a+=' <img class="card-img-top" style="margin-top: 30px" src="{% static 'img/文件.png' %}" alt="文件">';
            a+='</div>';
            a+='<div class="col-9">';
            a+='<a class="card-title" href="详细内容.html?policy='+s2+'" style="font-size: x-large; color: black;text-decoration:none"><strong>'+s2+'<br/></strong></a>';
            a+='<a>'+s+'<br/><br/></a>';
            a+='<p class="card-text">'+s1+'<br/><br/></p>';
            a+='</div>';
            a+='<div class="col-1"></div>';
            a+='</div>';
            a+='</div>';
            a+='</div>';
            a+='</div>';
            $("#feng").append(a);
        }

</script>
                </div>
            </div>
            <div class="col-3" style="margin-top: 100px;margin-left: 30px">
                <div >
                    <div class="shadow">
                    <div class="card">
                        <div class="card-header" style="background: none">
                            <div class="row">
                                <div class="col-1" style="margin-left: 20px">
                                    <img src="{% static 'img/推荐政策.png' %}" alt="推荐政策" style="width: 20px" >
                                </div>
                                <div class="col-8">
                                    <span ><strong>推荐必读政策</strong></span>
                                </div>
                                <div class="col-2">
                                    <button style="outline: none;border: none;background: none">
                                        <img src="{% static 'img/更多.png' %}" alt="更多" style="right: 0;width: 20px">
                                    </button>
                                </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-8">
                                        <p>
                                            <a href="https://www.baidu.com" style="color: black; text-decoration: none">
                                                <img src="{% static 'img/数字1.png' %}" style="width: 20px" alt="数字1">&nbsp;&nbsp;
                                                各县（市、区）、开发区中小企业主管部门
                                            </a>
                                        </p>
                                        <p>
                                            <a href="#" style="color: black; text-decoration: none" >
                                                <img src="{% static 'img/数字2.png' %}" alt="数字2" style="width: 20px">&nbsp;&nbsp;第二条政策</a>
                                        </p>
                                        <p><a href="#" style="color: black; text-decoration: none">
                                            <img src="{% static 'img/数字3.png' %}" alt="数字3" style="width: 20px">&nbsp;&nbsp;第三条政策</a></p>
                                    </div>

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
                </div>
                <div style="margin-top: 30px">
                    <div class="shadow">
                    <div class="card">
                        <div class="card-header" style="background: none">
                            <div class="row">
                                <div class="col-1" style="margin-left: 20px">
                                    <img src="{% static 'img/推荐政策.png' %}" alt="推荐政策" style="width: 20px" >
                                </div>
                                <div class="col-8">
                                    <span ><strong>推荐必读政策</strong></span>
                                </div>
                                <div class="col-2">
                                    <button style="outline: none;border: none;background: none">
                                        <img src="{% static 'img/更多.png' %}" alt="更多" style="right: 0;width: 20px">
                                    </button>
                                </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-8">
                                        <p>
                                            <a href="https://www.baidu.com" style="color: black; text-decoration: none">
                                                <img src="{% static 'img/数字1.png' %}" style="width: 20px" alt="数字1">&nbsp;&nbsp;
                                                各县（市、区）、开发区中小企业主管部门
                                            </a>
                                        </p>
                                        <p>
                                            <a href="#" style="color: black; text-decoration: none" >
                                                <img src="{% static 'img/数字2.png' %}" alt="数字2" style="width: 20px">&nbsp;&nbsp;第二条政策</a>
                                        </p>
                                        <p><a href="#" style="color: black; text-decoration: none">
                                            <img src="{% static 'img/数字3.png' %}" alt="数字3" style="width: 20px">&nbsp;&nbsp;第三条政策</a></p>
                                    </div>

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}